#form_wrapper {
    margin: 5% auto;
    display: flex;
    justify-content: center;
    min-width: 800px;
    margin-bottom: 0;
}
.error {
    color: red;
}
#post_form {
    border: 1px solid #a3a3a4;
    padding: 10px;
    display: inline-block;
    width: 800px;
    font-size: 24px;
}
#post_form div{
    margin: 20px 0px;
}
label {
    width: 150px;
    display: inline-block;
}
a {
    display: block;
}
a.not-block{
    display: inline-block;
}
.header {
    position: absolute;
    top: 10px;
    right: 10px;
}
#search_form {
    border: 1px solid #a3a3a4;
    padding: 10px;
    display: inline-block;
    width: 495px;
    font-size: 24px;
}
#search_form div{
    margin: 20px 0px;
}
.post-list-wrapper {
    margin: 1% auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
}
#filter_form {
    border: 1px solid #a3a3a4;
    padding: 10px;
    display: inline-block;
    width: 495px;
    font-size: 24px;
}
#filter_form div{
    margin: 20px 0px;
}
#delete_form {
    border: 1px solid #a3a3a4;
    padding: 10px;
    display: inline-block;
    width: 495px;
    font-size: 24px;
}
#delete_form div{
    margin: 20px 0px;
}
.post-list {
    display: block;
    margin: 10px 0;
    text-align: left;
}
.form_wrapper {
    margin: 5% auto;
    display: flex;
    justify-content: center;
}
#login_form {
    border: 1px solid #a3a3a4;
    padding: 10px;
    display: inline-block;
    width: 495px;
    font-size: 24px;

}
#login_form div{
    margin: 20px 0px;
}
label {
    width: 150px;
    display: inline-block;
}
input {
    line-height: 30px;
    width: 330px;
}
input[type=submit] {
    width: 150px;
}
button {
    width: 150px;
}